# Your wallet's private key
PRIVATE_KEY=
BSC_NODE_WSS = wss://bsc-ws-node.nariox.org:443
TOKEN = 0xdA78ABFa80E841eBf91971A3B7C956Dce5d0F903
TOKEN_DECIMALS = 18
PURCHASE_AMOUNT = 0.0001
SLIPPAGE = 0
GAS_PRICE = 10
GAS_LIMIT = 1000000
MULTIPLY_GAS = 1
INSTANT_SELL = false
SELL_DELAY = 3
ANTI_BOT = false
TRANSACTIONS_NUM = 1
ANTI_RUG = true
PRICE_CHECK = false
LIQUIDITY_BNB = 30