# Your APP ID From my.telegram.org
APP_ID=XXX
# Your APP HASH From my.telegram.org
APP_HASH=XXX
# Your wallet address
RECIPIENT=
# Your wallet's private key
PRIVATE_KEY=
# BSC node web socket address
BSC_NODE_WSS=wss://bsc-ws-node.nariox.org:443
# Gas limit for transaction
GAS_LIMIT="1000000"
# Gas price for transaction
GAS_PRICE="5"
# CoinGecko settings
COINGECKO=true
COINGECKO_PURCHASEAMOUNT="0.005"
# CoinMarketCap settings
COINMARKETCAP=true
COINMARKETCAP_PURCHASEAMOUNT="0.01"
# Run bot in whitelist only mode?
WHITELIST_ONLY=false
# Always buy whitelisted tokens?
WHITELIST_ALWAYS=true
WHITELIST_PURCHASEAMOUNT="0.05"
# Comma seperated list of tokens to whitelist
WHITELIST=
